{% extends "base.html" %}
{% block title %}CloudKali Home{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-3">Welcome to CloudKali</h1>
    <p class="lead">CloudKali allows you to create cloud Kali instances for Baruch's CIS 4093 Ethical Hacking course.</p>
    <hr class="my-4">
    <p>Click the button below to sign up for an account. Note that all signups must be manually approved by a course instructor.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Sign up</a>
    </p>
  </div>

{% endblock %}